.NavbarItems {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0px 25px;
    // border-bottom: 1px solid rgba(54, 51, 51, 0.25);
    background: rgba(255, 255, 255, 1);

    // background: #fff;


    // border-bottom: 2px solid rgba(0, 0, 0, .3);

    .menu-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        .navbar-logo {
            color: rgba(221, 99, 18, 0.8);
            font-weight: 500;
            font-size: 1rem;
            margin-left: 10px;

            span {
                color: cornflowerblue;
                text-transform: uppercase;
            }
        }

        img {
            max-width: 4rem;
            height: 4rem;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
        }
    }

    .nav-menu li {

        list-style: none;

        @include for-tablet-header {
            display: none;
        }


    }

    .nav-links {
        text-decoration: none;
    }

    .toggle {
        height: 28px;
        width: 28px;

        @include for-tablet {
            display: none;
        }


        .hamburger-container {
            position: relative;
            width: 100%;
            height: 100%;
            cursor: pointer;


            // background: rgba(245, 22, 22, 0.9);

            .line:not(:last-child) {
                margin-bottom: 4px;
            }

            .line:nth-child(n+1) {
                margin-top: 2px;
                display: block;
                background: rgb(238, 17, 17);
                width: 100%;
                height: 4px;
            }

            &.active {

                .line:first-child {
                    margin-top: 10px;
                    transform: rotate(40deg);
                    -webkit-transform: rotate(40deg);
                    -moz-transform: rotate(40deg);
                    -ms-transform: rotate(40deg);
                    -o-transform: rotate(40deg);
                    transition: all 300ms ease-in-out;
                    -webkit-transition: all 300ms ease-in-out;
                    -moz-transition: all 300ms ease-in-out;
                    -ms-transition: all 300ms ease-in-out;
                    -o-transition: all 300ms ease-in-out;
                }

                .line:nth-child(2) {
                    transform: translateX(-10px);
                    -webkit-transform: translateX(-10px);
                    -moz-transform: translateX(-10px);
                    -ms-transform: translateX(-10px);
                    -o-transform: translateX(-10px);
                    transition: all 300ms ease-in-out;
                    -webkit-transition: all 300ms ease-in-out;
                    -moz-transition: all 300ms ease-in-out;
                    -ms-transition: all 300ms ease-in-out;
                    -o-transition: all 300ms ease-in-out;
                    opacity: 0;
                }

                .line:last-child {
                    margin-top: -18px;
                    transform: rotate(-40deg);
                    -webkit-transform: rotate(-40deg);
                    -moz-transform: rotate(-40deg);
                    -ms-transform: rotate(-40deg);
                    -o-transform: rotate(-40deg);
                    transition: all 300ms ease-in-out;
                    -webkit-transition: all 300ms ease-in-out;
                    -moz-transition: all 300ms ease-in-out;
                    -ms-transition: all 300ms ease-in-out;
                    -o-transition: all 300ms ease-in-out;
                }
            }


        }



    }

    .nav-menu {
        div {
            display: inline-block;

            a {
                display: block;
                color: rgba(114, 96, 96, 0.7);
                padding: 0px 14px;
                transition: all 250ms ease-in-out;
                -webkit-transition: all 250ms ease-in-out;
                -moz-transition: all 250ms ease-in-out;
                -ms-transition: all 250ms ease-in-out;
                -o-transition: all 250ms ease-in-out;
                position: relative;
                text-align: center;
                font-size: 0.90rem;

                &::before,
                &::after {
                    transition: all 250ms ease-in-out;
                    -webkit-transition: all 250ms ease-in-out;
                    -moz-transition: all 250ms ease-in-out;
                    -ms-transition: all 250ms ease-in-out;
                    -o-transition: all 250ms ease-in-out;
                }

                &::after {
                    position: absolute;
                    bottom: -22px;
                    left: 0%;
                    right: 0%;
                    margin: 0 auto;
                    width: 0%;
                    content: '';
                    background: rgba(221, 99, 18, 0.5);
                    height: 2px;
                }

                &:hover::after {
                    color: rgb(109, 91, 91);
                    width: 95%;
                }

            }
        }

    }

    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;

    .search-box {
        background: rgba(255, 255, 255, 0.25);
        height: 40px;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
        border: 1.5px solid rgba(0, 0, 0, 0.25);

        .fa-search {
            width: 100%;
            height: 100%;
            margin: 10px;
        }

        ::placeholder {
            background: #fff;
        }

        .search-btn {
            color: #222;
            float: right;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            background: coral;
            display: flex;
            justify-content: center;
            text-align: center;
            text-decoration: none;
            transition: 0.4s;
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -ms-transition: 0.4s;
            -o-transition: 0.4s;
            margin-top: -1px;

        }

        .search-txt {
            border: none;
            background: none;
            outline: none;
            float: left;
            padding: 0;
            font-size: 0.75rem;
            transition: 0.4s;
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -ms-transition: 0.4s;
            -o-transition: 0.4s;
            line-height: 40px;
            width: 240px;
            margin-left: 10px;
        }

        &:hover {

            padding: 0;
            color: #fff;
        }
    }

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}