.latestCategory {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 10px;

        width: 30%;


        .Field {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: center;




            label {
                color: rgba(0, 0, 0, 0.75);
                font-weight: 600;
                font-size: 1rem;

            }

            input {
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
                padding: 9px 14px;
                border-color: coral;
                width: 75%;
            }

            &:not(:last-child) {
                margin-bottom: 6px;
            }
        }
    }

    .submit {
        width: 195px;
        margin-top: 6px;
        padding: 9px 14px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border: none;
        background: coral;
        color: #fff;
        width: 75%;
    }

}